
 <section id="dashboard">
 <div class="area"></div>
 <nav class="main-menu">
            <ul>
                <li>
                    <a routerLink="/dashboard">
                        <i class="fa fa-home fa-2x"></i>
                        <span class="nav-text">
                            Accueil
                        </span>
                    </a>
                </li>
                <li class="has-subnav">
                    <a routerLink="/">
                        <i class="fa fa-laptop fa-2x"></i>
                        <span class="nav-text">
                            Gestion Employés
                        </span>
                    </a>
                    
                </li>
                <li class="has-subnav">
                    <a routerLink="/">
                       <i class="fa fa-list fa-2x"></i>
                        <span class="nav-text">
                            Liste Des Employés
                        </span>
                    </a>
                    
                </li>
                <li class="has-subnav">
                    <a routerLink="/">
                       <i class="fa fa-folder-open fa-2x"></i>
                        <span class="nav-text">
                            Demande Abscences
                        </span>
                    </a>
                   
                </li>
              
               
                
               
            </ul>

            <ul class="logout">
              <li>
                <a routerLink="/">
                      <i class="fa fa-globe fa-2x"></i>
                     <span class="nav-text">
                         Acceder au Site
                     </span>
                 </a>
             </li>  
                <li>
                   <a routerLink="/">
                         <i class="fa fa-power-off fa-2x"></i>
                        <span class="nav-text">
                            Deconnexion
                        </span>
                    </a>
                </li>  
            </ul>
        </nav>
      </section>
